menu "Example Configuration"
    menu "WiFi Configuration"
        config EXAMPLE_ESP_GMF_WIFI
            bool "Enable My Wifi"
            default y

        config EXAMPLE_ESP_GMF_WIFI_SSID
            string "wifi_ssid"
            depends on EXAMPLE_ESP_GMF_WIFI
            default "wifi_ssid"
            help
                SSID (network name) for the example to connect to.

        config EXAMPLE_ESP_GMF_WIFI_PASS
            string "wifi_password"
            depends on EXAMPLE_ESP_GMF_WIFI
            default "wifi_password"
            help
                WiFi password (WPA or WPA2) for the example to use.

                Can be left blank if the network has no security set.
    endmenu
endmenu
